# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
bin/
lib/
lib64/
include/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
.pyvenv/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

mats/
